@media (max-width: 768px) {

    .seccion-boton-flotante {
        display: none;
    }

    body {
        padding: 5% 0 0 0;
    }

    .contenedor-banner {
        max-height: 100px;
    }

    #dynamicText {
        font-size: 5vh;
        padding-left: 8%;
    }

    .cargo {
        align-content: center;
        max-height: 5vh;
        font-size: 2.2vh;
    }

    .contenedor__central {
        display: grid;
        grid-template-columns: 1fr;
    }

    .persona {
        border-radius: 50%;
        max-width: 22vh;
    }

    .contenedor-texto {
        margin: 0;
        text-align: center;
        margin-bottom: 3%;
    }

    .texto {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2vh;
    }

    .firma {
        font-size: 6vh;
    }

    .contenedor-proyectos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2%;
        padding-bottom: 50px;
    }

    .sub-competencias {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenedor-contacto {
        display: grid;
        grid-template-columns: 1fr;
    }

    .figura-accion {
        display: none;
    }

    h2 {
        font-size: 3vh;
    }

    .titulo {
        font-size: 4vh;
    }

    .info {
        font-size: 2.3vh;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.8vh;
        margin-top: 10%;
    }

    

}